<!DOCTYPE html>
<html lang="en">
<head>
    <title>SafeWays API Entry Point</title>
</head>
<body>
<h1>SafeWays Safepath API</h1>
<p> Beta API that finds the safest path for pedestrians and bicyclists, made for City of Los Angeles residents using LA
    City Collision Data, Google's Directions API, and Google's LocationOnEdge and/or ContainsLocation algorithm </p>
<br>
<p>You can check out the API code <a href="https://github.com/lgon070/safeways_api">here</a></p>
<p>You can check out SafeWays' code <a href="https://github.com/ehern251/safe_ways">here</a></p>
<br>
<h4>Artificial Intelligence for Smart Cities
</h4><h5>Sponsored by TOYOTA and LA City</h5>
<p>Team</p>
<ul>
    <li>Luis Gonzalez</li>
    <li>Edgar Hernandez</li>
    <li>Lynne Tien</li>
    <li>Gunjan Kc</li>
    <li>Jason Fan</li>
</ul>
<p>Advisor</p><ul><li>Mohammad Pourhomayoun</li></ul>
</body>
</html>